PAYLOAD_SECRET=YOUR_SECRET_HERE

SERVER_URL=localhost:3001

DATABASE_TYPE=postgres # postgres or sqlite

POSTGRES_URI=postgres://postgres:@127.0.0.1/your-database-name
POSTGRES_PUSH=false

SQLITE_URI=file:./databases/your-database-name.sql
SQLITE_PUSH=true